.experienceItem {
	background-color: floralwhite;
	padding: 0.5rem 1rem;
	border-radius: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: coral;
	margin-top: 2rem;
}

.experienceItem__title {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	/*text-align: center;*/
}

.experienceItem__title > h3 {
	font-size: 1.1rem;
	font-weight: 600;
	text-align: left;
}

.expIcon {
	font-size: 3rem;
	color: crimson;
	/*text-align: center;*/
}

.experienceItem__bar {
	display: flex;
	margin-top: 0.5rem;
	height: 2rem;
	width: 100%;
	padding: 0.2rem;
	border-style: solid;
	border-width: 3px;
	border-color: salmon;
	align-items: center;
	justify-content: space-between;
	border-radius: 20px;
}

.experienceItem__bar-fill {
	height: 100%;
	background-color: crimson;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.experienceItem__bar-text {
	border-left: 2px solid salmon;
	width: 20%;
}

.experienceItem__rank {
	text-align: right;
	margin-top: 0.25rem;
}



.experienceItem-widtha {
	width: 72%;
}

.experienceItem-widthb {
	width: 64%;
}

.experienceItem-widthc {
	width: 56%;
}

.experienceItem-widthd {
	width: 48%;
}

@media only screen and (min-width: 768px) {
	.experienceItem__title {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}
}

