.itemAnimTwo__content {
	margin-top: 2rem;
	width: 100%;
	height: 30rem;
	border-radius: 25px;
}

.itemAnimTwo__content-pics {
	width: 100%;
	height: 75%;
	background-color: wheat;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--transition);
}

.itemAnimTwo__content-pics.detailfalse {
	height: 60%;
	border: 10px solid crimson;
	border-bottom: unset;
	transition: var(--transition);
}

.itemAnimTwo__content-text {
	width: 100%;
	height: 25%;
	background-color: var(--color-bg);
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border: 5px solid coral;
	border-top: unset;
	padding: 1rem;
	transition: var(--transition);
}
.itemAnimTwo__content-text.detailfalse {
	height: 40%;
	border: 10px solid coral;
	border-top: unset;
	padding: 1rem;
	transition: var(--transition);
	z-index: 15;
}

.itemAnimTwo__content-textdiv {
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*background-color: salmon;*/
}

.itemAnimTwo__content-picscover {
	max-height: 20rem;
	max-width: 20rem;
}

.itemAnimTwo__content-picscover.detailfalse {
	max-height: 15rem;
	max-width: 15rem;
}

.itemAnimTwo__content-picscoverimg {
	width: 100%;
	max-width: 20rem;
	max-height: 20rem;
	object-fit: cover;
	transition: var(--transition);
}

.itemAnimTwo__content-picscoverimg.detailfalse {
	width: 80%;
	max-width: 15rem;
	max-height: 15rem;
	/*object-fit: cover;*/
	transition: var(--transition);
}






.itemAnimTwo__content.detailfalse {
	border: 3px solid crimson;
}

.itemAnimTwo__content-texth4 {
	display: block;
	transition: var(--transition);
}

.itemAnimTwo__content-texth4.detailfalse {
	display: none;
	transition: var(--transition);
}

.itemAnimTwo__content-look {
	transition: var(--transition);
	display: none;
}

.itemAnimTwo__content-look.detailfalse {
	transition: var(--transition);
	display: block;
	font-size: 2rem;
}







@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
	.itemAnimTwo__content-picscover {
		max-height: 18rem;
		max-width: 18rem;
	}
	.itemAnimTwo__content-picscover > img {
		width: 100%;
		max-width: 18rem;
		max-height: 18rem;
	}
	.itemAnimTwo__content {
		height: 25rem;
	}
	.itemAnimTwo__content-textdiv > h4 {
		font-size: 0.75rem;
	}
}