.topexplain__text {
	margin-top: 5rem;
}

.topexplain__text > h3 {
	text-align: left;
}

.topexplain__text > h3:first-child {
	color: var(--color-primary-variant);
	font-weight: 600;
}

.topexplain__text > h3:nth-child(2) {
	color: var(--color-primary);
	font-weight: 600;
}

.topexplain__text > h3:nth-child(3) > span {
	color: var(--color-primary);
	font-weight: 600;
}