.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  grid-gap: 15%;
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  /*background: linear-gradient(45deg, transparent, var(--color-primary), transparent);*/
  display: grid;
  place-items: center;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  /*transform: rotate(10deg);*/
}

.about__me-image-img {
  height: 500px;
}

.about__me-box {
  background-color: transparent;
  width: 22rem;
  height: 22rem;
  border-radius: 25rem;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.about__me-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.about__me-box:hover .about__me-box-inner {
  transform: rotateY(180deg);
}

.about__me-box-inner-front,
.about__me-box-inner-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.about__me-box-inner-front {
  background-color: var(--color-bg);
  color: black;
  overflow: hidden;
}

.about__me-box-inner-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
  width: 20rem;
  height: 20rem;
}

.about__me-image {
  width: 22rem;
  height: 22rem;
}

.about__me-me {
  background: linear-gradient(var(--color-primary), cyan);
  width: 20rem;
  height: 20rem;
  border-radius: 25rem;
  overflow: hidden;
  /*padding: 2rem;*/
  padding: 1rem 0.2rem 0.2rem 0.2rem;
}

.about__me-me-image {
  height: 130%;
  margin-top: 1.5rem;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card {
  background-color: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background-color: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-dark);
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-dark);
}

.aboutme__cards {
  margin-top: 4rem;
}

/*==================== MEDIA QUERY (MEDIUM DEVICES) ====================*/

@media only screen and (min-width: 768px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .about__content p {
    margin: 1rem 0 1.5rem;
  }
  .aboutme__cards {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    margin-top: 2rem;
    padding: 2rem;
  }
}

/*==================== MEDIA QUERY (SMALL DEVICES) ====================*/

@media only screen and (min-width: 1024px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }
  .aboutme__cards {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 1rem;
    margin-top: 2rem;
    padding: 2rem;
  }

  /*.about__card:first-child {
  	grid-column: 1/2;
  	grid-row: 1/2;
  }

  .about__card:nth-child(2) {
  	grid-column: 2/3;
  	grid-row: 1/2;
  }

  .about__card:nth-child(3) {
  	grid-column: 1/2;
  	grid-row: 2/3;
  }*/

  .about__content {
    text-align: center;
  }
  .about__content p {
    margin: 1.5rem 0;
  }
  .about__me-image {
    width: 16rem;
    height: 16rem;
  }
}

.aboutme__text {
  margin-top: 3rem;
}

.aboutme__text > h3 {
  text-align: left;
}

.aboutme__text > h3:first-child {
  color: var(--color-primary-variant);
  font-size: 1rem;
  font-weight: 600;
}

.aboutme__text > h3:nth-child(2) {
  font-size: 1.25rem;
}

.aboutme__text > h3:nth-child(2) > span {
  color: var(--color-primary);
  font-weight: 600;
}

.aboutme__line {
  display: block;
  float: right;
  margin-top: 1rem;
  width: 8rem;
  height: 2px;
  background: var(--color-primary-variant);
}
/*
.aboutme__cards {
}*/
